<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

    <!-- Google font for h1 -->
    <link href="https://fonts.googleapis.com/css?family=Monoton|Pontano+Sans" rel="stylesheet">
    <title>Eat-Da-Burger</title>
</head>

<body>
    <img src="/assets/images/landscape_movies-pulp-fiction-big-kahuna-burger.jpg" width="100%" id="cute_burger" class="col s12"> {{{ body }}}

    <footer class="burgerFooter">
        <div class="footer-copyright">
            <div class="container">
                <span class="grey-text text-lighten-4">© Connor Thomas 2018</span>
                <a class="grey-text text-lighten-4 right" href="https://theconnorthomas.github.io/Bootstrap-Portfolio/">MyPortfolio</a>
            </div>
        </div>
    </footer>
</body>

</html>